.change-theme-btn{
    border: 1px solid var(--color-green--);
    padding: 10px;
}
.change-theme-btn:hover{
    color: var(--color-green--);
    border: 2px solid var(--color-green--)
}

[theme]{
    background-image: url(../image/backgraund2.jpg);
    --color-white--:rgb(255, 255, 255);
    --color-gray--:rgb(57, 57, 57);
    --color-blue--: rgb(0, 32, 95);
    --color-red--:rgb(184, 24, 0);
    --color-green--:rgb(0, 93, 45);
    --color-green-hover--:rgb(0, 94, 38);
    --form-background--:rgb(255 255 255 / 16%);
}



body{
    background-image: url(../image/backgraund1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px; 
    background-position: 50%;
    height: 100vh;
}

a:hover{
    color: var(--color-green-hover--) ;
    transition:1s;
}
:root{
--color-white--:rgba(255, 255, 255, 1);
--color-gray--:rgba(67, 67, 67, 1);
--color-gtay-notactive--:rgba(190, 190, 190, 1);
--color-blue--: rgba(48, 93, 184, 1);
--color-red--:rgba(223, 74, 50, 1);
--color-green--:rgba(60, 184, 120, 1);
--color-green-hover--:rgba(1, 129, 63, 1);
--form-background--:rgba(255, 255, 255, 1);
}
.menu {
    background-color: rgba(0, 0, 0, 0.25);   
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu__container{
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
    height: 58px;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white--);
}
.menu__title{
    font-size: 22px;
    font-weight: 700;
    padding-left: 79px;   
}
.menu__list {
    padding-right: 79px ;
    display: flex;
    align-items: center
}
.item-menu__icon{
    padding-right: 25px;
    position: relative
}
.item-menu__icon-hiden{
    opacity: 0;
    position: absolute;
    left: 0;
}
.item-menu__icon-hiden:hover{
    opacity: 1;
}
.item-menu__line_vertical{
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    height: 19px;
    padding-right: 27px;
}
.item-menu__button:hover{
    color: var(--color-green-hover--);
}
.form{
    height: 584px;
    width: 444px;
    background: var(--form-background--);
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin: 0 auto;
    margin-top: 54px;       
}
.form__square-green{
    background-color: var(--color-green-hover--);
    height: 18px;
    width: 18px;
    left: 0px;
    top: 29px;
    position: relative;
}
.form__container{
    display: flex;
    flex-direction: column;
    width: 324px ;
    margin: 0 auto;
}
.form__buttons {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
}
.form__buttom-sign-up {
    font-size: 20px;
    color: rgba(67, 67, 67, 1);
}
.form__buttom-login {
    color: var(--color-green--);
    font-size: 14px;  
}
.form__buttom-login:hover{
    color: var(--color-green-hover--);
    text-decoration: underline;
}
.form__socials {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;   
}
.btn{
    height: 48px;
    width: 160px;
    font-size: 16px;
    color: var(--color-white--);
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
    align-items: center;
}
.fb-btn:hover{
    background-color: rgba(2, 34, 99, 1);
    transition:1s;
}
.google-btn:hover{
    background-color: rgba(171, 31, 9, 1);
    transition:1s;
}
.fb-btn {
    background-color: var(--color-blue--);
}
.google-btn {
    background-color: var(--color-red--);
}
.form__or-line{
    text-align: center;
    color: rgba(132, 132, 132, 1);
    margin-bottom: 12px;
}
.form__or-line::after, 
.form__or-line::before {
    content: "";
    width: 152px;
    background-color: #f2f2f2;
    height: 1px;
    display: inline-block;
}
.form__registration >:not(:nth-last-child(-n+2)){
    height: 44px;
    width: 322px;
    border: 1px solid #F2F2F2;
    outline: none;
    margin-bottom: 15px;
}
.form__registration input:focus:not(:nth-last-child(-n+2)){
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    padding: 20px;    
}
input::placeholder{
    color: rgba(190, 190, 190, 1);
    padding-left: 20px;
}
input:focus::placeholder{
    color: rgba(67, 67, 67, 1);
    padding: 0 ;
}
label[for="check"] > a {
    color: var(--color-green--);
}
label[for="check"] > a:hover {
    color: var(--color-green-hover--);
    border-bottom: 1px solid var(--color-green-hover--);
}
.check-box-container{
   display: flex;   
}
.submit{
    height: 46px;
    width: 324px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: var(--color-white--);    
    margin-top: 20px;
}
.submit:hover{
    background-color: var(--color-green-hover--);
    transition:1s;
}
#check {
    cursor: pointer;
    appearance:none;
    height: 20px;
    width: 20px;
    border: 1px solid rgba(190, 190, 190, 0.3);
    margin-right: 8px;
}
#check:hover{
    box-shadow: 0 0 0 1px rgba(190, 190, 190, 0.3);    
}
#check:checked {
    background-image: url(../image/agr.png);
    background-repeat: no-repeat;
    background-position: 50%;
}